
body {
    font-family: Arial, sans-serif;
    background-color: #c7db14;
    margin: 0;
    padding: 20px;
    color: #333;
    font-size: 20px;
  }
  
  h1 {
    text-align: center;
    color: #2c1b1b;
    margin-bottom: 20px;
  }
  
  table {
    width: 80%;
    margin: 0 auto;
    border-style: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #1c7e50;
    font-size: 20px;
    text-align: center;
  }
  
  th, td {
    padding: 20px 25px;
    text-align: center; 
    
  }
  
  th {
    background-color: #007BFF;
    color: #640505;
    font-weight: bold;
    font-size: 24px;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
    font-size: larger;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 36px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  footer {
    background-color: black;
    color: white; /* Esto asegurará que el texto sea legible */
}