body {
    background-color: #37dd82;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
   
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
   
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  